<nav>
    <div class="nav-wrapper navbar-fixed green darken-1">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <a href="/" class="brand-logo right"><i class="large material-icons">public</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="{{ path('fr_lucky_number') }}">Tests</a></li>
        <li><a href="{{ path('product_index') }}">Produits</a></li>
        <li><a href="{{ path('point_index') }}">Points</a></li>
        <li><a href="{{ path('search_algolia') }}">Recherche Algolia</a></li>
        <li><a href="{{ path('search_elastic') }}">Recherche Elastica</a></li>
      </ul>
    </div>
</nav>
      
 <ul class="sidenav" id="mobile-demo">
    <li><a href="{{ path('fr_lucky_number') }}">Tests</a></li>
    <li><a href="{{ path('product_index') }}">Produits</a></li>
    <li><a href="{{ path('point_index') }}">Points</a></li>
    <li><a href="{{ path('search_algolia') }}">Recherche Algolia</a></li>
    <li><a href="{{ path('search_elastic') }}">Recherche Elastica</a></li>
  </ul>
          